html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    min-height: 100vh;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #212529;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 20px 80px;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: #F8F9FA;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #28A745;
    transition: 0.6s;
}

.navbar a:hover::before {
    width: 100%;
}

.footer {
    width: 100%;
    margin-top: 100px;
    padding-bottom: 50px;
    background-color: #212529;
}

.footer-block {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    
    width: 25%;
    margin: 50px 40px 20px;
    padding: 0 55px;
}

.column h4 {
    font-size: 25px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
}

.column a {
    font-size: 20px;
    text-align: left;
    text-transform: none;
    color: #ffffffcf;
    text-decoration: none;
}

.column ul {
    list-style: none;
}

.search-bar {
    width: 600px;
    height: 40px;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar input[type="text"] {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    outline: none;
    font-size: 16px;
    color: #333;
}

.search-bar but ton[type="submit"] {
    background-color: #28A745;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.search-bar button[type="submit"]:hover {
    background-color: #24973f;
}

.container {
    height: 600px;
    padding: 20px;
    margin-top: 225px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.container img {
    width: 850px;
    height: 850px;
}

.hero-text {
    width: 100%;
}

.hero-text h1 {
    font-size: 80pt;
    margin-bottom: 8px;
    color: rgb(0, 0, 0);
}

.hero-text p {
    font-size: 24pt;

}

.start {
    margin-top: 20px;
    width: 120px;
    height: 60px;
    background: #28A745;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: rgb(255, 255, 255);
    font-weight: 500;
    transition: .5s
}

.start:hover {
    background: #24973f;
}

.layout {
    margin-top: 200px;
    padding-top: 100px;
    padding-bottom: 250px;
}

.layout-top {
    background-color: #ffffff;
    color: #000000;
    padding: 20px 0;
    margin-left: 50px;
    text-align: left;
}

.tagline {
    width: 50%;
    line-height: 1;
    font-size: 40pt;
    margin: 20px 0 0 0;
}

.description {

    width: 50%;
    font-size: 20pt;
    margin: 20px 0 0 0;
}

.layout-blocks {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.block {
    background-color: #fff;
    border: none;
    padding: 20px;
    width: 30%;
    text-align: left;
}

.block h1 {
    font-size: 25pt;
}

.block p {
    font-size: 15pt;
    margin: 20px 0 0 0;
}

.image {
    width: 100%;
    object-fit: cover;
    height: auto;
}

.image_blocks{
    width: 100%;
    object-fit: cover;
    height: 320px;
}