<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Название иветна</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/event.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/main.css'>
</head>

<body>
    <header class="header">
        <a th:href="@{/}" class="logo">ToSovka</a>
        <form th:action="@{/search}" method="get">
            <div class="search-bar">
                <input type="text" name="title" placeholder="Поиск...">
                <button type="submit" class="search-button">Найти</button>
            </div>
        </form>
        <nav class="navbar">
            <a th:href="@{/}">Главная</a>
            <a th:href="@{/search}">Найти Ивент</a>
            <a th:href="@{/create}">Создать Ивент</a>
            <a href="#">Мои Ивенты</a>
            <button class="btnLogin">Логин</button>
        </nav>
    </header>

    <!-- Event place -->
    <div class="event-container">
        <div class="left-column">
            <img src="https://placehold.co/1280x800" alt="">
        </div>

        <div class="right-column">
            <div class="event-description">
                <p class="event-type">Тип ивента</p>
                <p class="event-date">Дата ивента</p>
                <h1>Название</h1>
                <p class="event-text">Использование компьютера требует специальных навыков. Людей, достигших в этом
                    мастерства, иногда называют «хакерами». Обычно хакер – это человек, который создаёт программное
                    обеспечение на специальном компьютерном языке. Но слово «хакер» также применимо к человеку, который
                    пытается украсть информацию из компьютерных систем.
                    Компьютер стал неотъемлемой частью жизни человека. Это обязательный инструмент развития человека.
                    Каждая большая и малая промышленность компьютеризирована. Компьютеры выполнять свою работу
                    эффективно, быстро и продуктивно. Без сомнений, они сделали нашу жизнь намного легче.
                    Компьютеры коренным образом изменили жизнь каждого человека. Несколько десятилетий назад люди даже
                    не знали ничего об этих электронных устройствах, тогда как в наши дни даже маленький ребенок может
                    управлять этой машиной. Почти все современные технологии зависит от компьютеров, которые
                    используются для хранения данных: файлов, секретной информации, банковских операций и прочего.
                </p>
                <p class="event-location">Место проведения</p>
            </div>
            <a href="#" class="come-btn">Пойду</a>
        </div>
    </div>


    <!-- TODO: Исправить помойку -->
    <!-- Comments place -->
    <div class="comments-section">
        <h3>Комметарии</h3>
        <div class="comments-list">
            <p>Комментарий отсутствуют</p>
        </div>
        <form class="comments-form">
            <textarea name="comment" placeholder="Оставить комментарий" required></textarea>
            <input type="submit" value="Отправить" />
        </form>
    </div>


    <!-- Footer -->
    <footer class="footer">
        <div class="footer-block">
            <div class="row">
                <div class="column">
                    <h4>ToSovka</h4>
                    <a>Сайт для создания и поиска интересных мероприятий</a>
                </div>
                <div class="column">
                    <h4>Навигация</h4>
                    <ul>
                        <li><a href="#">Главная</a></li>
                        <li><a href="#">Найти Ивент</a></li>
                        <li><a href="#">Создать Ивент</a></li>
                    </ul>
                </div>
                <div class="column">
                    <h4>Контакты</h4>
                    <ul>
                        <li><a href="https://t.me/Num_Dominance">Telegram разработчика</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>