<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title th:text="${event.title}"></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/event.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/main.css'>
</head>

<body>
    <header class="header">
        <a th:href="@{/}" class="logo">ToSovka</a>
        <form th:action="@{/search}" method="get">
            <div class="search-bar">
                <input type="text" name="title" placeholder="Поиск...">
                <button type="submit" class="search-button">Найти</button>
            </div>
        </form>
        <nav class="navbar">
            <a th:href="@{/}">Главная</a>
            <a th:href="@{/search}">Найти Ивент</a>
            <a th:href="@{/create}">Создать Ивент</a>
            <a class="btnLogin" th:if="${!isAuthenticated}" th:href="@{/login}">Логин</a>
            <a class="btnProfile" th:if="${isAuthenticated}" th:href="@{'/profile/' + ${username}}">Профиль</a>
            <a class="btnProfile" th:if="${isAuthenticated}" th:href="@{'/logout'}">Выйти</a>
        </nav>
    </header>

    <!-- Event place -->
    <section>
        <div class="event-container">
            <div class="left-column">
                <img th:src="@{'/image/' + ${event.id}}" alt="">
            </div>

            <div class="right-column">
                <div class="event-description">
                    <p class="event-type" th:text="${event.type.name}">Тип ивента</p>
                    <p class="event-date"
                        th:text="${#temporals.format(event.eventDate, 'dd MMMM', new java.util.Locale('ru'))}">Дата
                        ивента
                    </p>
                    <h1 th:text="${event.title}"></h1>
                    <p class="event-text" th:text="${event.description}">
                    </p>
                    <p class="event-location" th:text="${event.location}"></p>
                </div>
                <form th:action="@{'/visit/' + ${event.id}}" method="post">
                    <input th:if="${!isVisited}" th:href="@{'/visit/' + ${event.id}}" type="submit" class="come-btn"
                        value="Пойду"></input>
                </form>
                <form th:action="@{'/visit/' + ${event.id} + '/delete'}" method="post">
                    <input th:if="${isVisited}" th:href="@{'/visit/' + ${event.id} + '/delete'}" type="submit"
                        class="come-btn" value="Не пойду"></input>
                </form>
                <div class="author-nickname">Автор:  
                    <a th:href="@{'/profile/' + ${event.user.username}}" th:text="${event.user.getUsername}"></a>
                </div>
                <form class="delete-event" th:if="${event.user.username == username}" th:action="@{'/event/' + ${event.id} + '/delete'}" method="post">
                    <button type="submit">Удалить</button>
                </form>
            </div>
        </div>
    </section>

    <!-- Comments place -->
    <section>
        <div class="comments-section">
            <h3>Комметарии</h3>
            <list th:each="comment : ${comments}">
                <div class="comments-list">
                    <p
                        th:text="${comment.user.getUsername} + ' | '+ ${comment.getCommentText} + ' | ' + ${comment.getCommentDate}">
                    </p>
                </div>
            </list>
            <form class="comments-form" th:if="${isAuthenticated}" th:action="@{'/comment/' + ${event.id} +'/post'}"
                method="post">
                <textarea name="comment" placeholder="Оставить комментарий" required></textarea>
                <input type="submit" class="come-btn" value="Отправить"></input>
            </form>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
        <div class="footer-block">
            <div class="row">
                <div class="column">
                    <h4>ToSovka</h4>
                    <a>Сайт для создания и поиска интересных мероприятий</a>
                </div>
                <div class="column">
                    <h4>Навигация</h4>
                    <ul>
                        <li><a href="#">Главная</a></li>
                        <li><a href="#">Найти Ивент</a></li>
                        <li><a href="#">Создать Ивент</a></li>
                    </ul>
                </div>
                <div class="column">
                    <h4>Контакты</h4>
                    <ul>
                        <li><a href="https://t.me/ISnt_SUNday">Telegram разработчика</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>