<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Поиск</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel='stylesheet' type='text/css' media='screen' href='../static/events.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/main.css'>
</head>

<body>
    <header class="header">
        <a th:href="@{/}" class="logo">ToSovka</a>
        <form th:action="@{/search}" method="get">
            <div class="search-bar">
                <input type="text" name="title" placeholder="Поиск...">
                <button type="submit" class="search-button">Найти</button>
            </div>
        </form>
        <nav class="navbar">
            <a th:href="@{/}">Главная</a>
            <a th:href="@{/search}">Найти Ивент</a>
            <a th:href="@{/create}">Создать Ивент</a>
            <a class="btnLogin" th:if="${!isAuthenticated}" th:href="@{/login}">Логин</a>
            <a class="btnProfile" th:if="${isAuthenticated}" th:href="@{'/profile/' + ${username}}">Профиль</a>
            <a class="btnProfile" th:if="${isAuthenticated}" th:href="@{'/logout'}">Выйти</a>
        </nav>
    </header>


    <div class="event-search-container">
        <form class="filter" method="get" th:action="@{/search}">
            <h2>Фильтр</h2>
            <label for="date">Дата от</label>
            <input type="date" id="dateFrom" name="dateFrom" th:value="${dateFrom}" onchange="updateDateTo()">
            <label for="date">до</label>
            <input type="date" id="dateTo" name="dateTo">
            <label for="type">Тип мероприятия</label>
            <select id="type" name="type">
                <option value="Все">Все</option>
                <option th:each="types : ${types}" th:text="${types.getTypeName}"></option>
            </select>
            <input type="submit" value="Применить">
        </form>


        <div class="content">
            <div th:each="event : ${events}">
                <div class="card">
                    <div class="date"
                        th:text="${#temporals.format(event.eventDate, 'dd MMMM', new java.util.Locale('ru'))}"></div>
                    <img th:src="@{'/image/' + ${event.id}}">
                    <div class="type" th:text="${event.type.name}"></div>
                    <div class="title"><a th:href="@{/event/{id}(id=${event.id})}"
                            th:text="${#strings.abbreviate(event.title, 58)}"></a> </div>
                    <div class="location" th:text="${#strings.abbreviate(event.location, 30)}"></div>
                    <div class="description" th:text="${#strings.abbreviate(event.description, 100)}"></div>
                    <div class="creator"><a th:href="@{'/profile/' + ${event.user.username}}"
                            th:text="${event.user.getUsername}"></a></div>
            </list>
        </div>
    </div>
    <script>
        const temp = new Date();
        temp.setDate(temp.getDate() + 1);
        const today = temp.toISOString().split('T')[0];
        document.getElementById('dateFrom').min = today;
        function updateDateTo() {
            var dateFrom = document.getElementById('dateFrom').value;
            var dateTo = document.getElementById('dateTo');

            if (dateFrom && dateTo.value < dateFrom) {
                dateTo.min = dateFrom;
            }
        }
    </script>
</body>


</html>