<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>ToSovka</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/main.css'>
</head>

<body>
    <header class="header">
        <a href="#" class="logo">ToSovka</a>
        <form th:action="@{/search}" method="get">
            <div class="search-bar">
                <input type="text" name="title" placeholder="Поиск...">
                <button type="submit" class="search-button">Найти</button>
            </div>
        </form>
        <nav class="navbar">
            <a th:href="@{/}">Главная</a>
            <a th:href="@{/search}">Найти Ивент</a>
            <a th:href="@{/create}">Создать Ивент</a>
            <a class="btnLogin" th:if="${!isAuthenticated}" th:href="@{/login}">Логин</a>
            <a class="btnProfile" th:if="${isAuthenticated}" th:href="@{'/profile/' + ${username}}">Профиль</a>
            <a class="btnProfile" th:if="${isAuthenticated}" th:href="@{'/logout'}">Выйти</a>
        </nav>
    </header>

    <main>
        <div class="container">
            <img class="image" src="https://images.unsplash.com/photo-1429962714451-bb934ecdc4ec?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
            <div class="hero-text">
                <h1>Добро пожаловать в ToSovka!</h1>
                <p>Открывайте для себя лучшие мероприятия в вашем городе и присоединяйтесь к веселью! <br>Найдите
                    мероприятия, которые вам по душе, от непринужденных встреч до грандиозных балов.</p>
                <button class="start">Найти</button>
            </div>
        </div>
    </main>

    <div class="layout">
        <div class="layout-top">
            <h1 class="tagline">Находите, создавайте и делитесь захватывающими событиями</h1>
            <p class="description">Наша платформа позволяет легко находить интересные события,
                происходящие рядом с вами, и участвовать в них.
            </p>
        </div>

        <div class="layout-blocks">
            <div class="block">
                <img src="https://images.unsplash.com/photo-1472653816316-3ad6f10a6592?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="image_blocks">
                <h1>Открывайте для себя события</h1>
                <p>Ознакомьтесь с разнообразными ивентами, происходящими в вашем городе.</p>
            </div>
            <div class="block">
                <img src="https://images.unsplash.com/photo-1560439514-4e9645039924?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="image_blocks">
                <h1>Создавать события</h1>
                <p>Легко создавайте свои собственные мероприятия и управляйте ими с помощью наших интуитивно
                    понятных
                    инструментов для создания мероприятий.</p>
            </div>
            <div class="block">
                <img src="https://images.unsplash.com/photo-1491438590914-bc09fcaaf77a?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="image_blocks">
                <h1>Делитесь событиями</h1>
                <p>Рассказывайте о своих мероприятиях, делясь ими со своими друзьями.</p>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="footer-block">
            <div class="row">
                <div class="column">
                    <h4>ToSovka</h4>
                    <a>Сайт для создания и поиска интересных мероприятий</a>
                </div>
                <div class="column">
                    <h4>Навигация</h4>
                    <ul>
                        <li><a th:href="@{/}">Главная</a></li>
                        <li><a th:href="@{/search}">Найти Ивент</a></li>
                        <li><a th:href="@{/create}">Создать Ивент</a></li>
                    </ul>
                </div>
                <div class="column">
                    <h4>Контакты</h4>
                    <ul>
                        <li><a href="https://t.me/ISnt_SUNday">Telegram разработчика</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>