<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/main.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/profile.css'>
    <script>
        function showContent(contentId) {
            document.querySelectorAll('.content').forEach(function (content) {
                content.style.display = 'none';
            });
            document.getElementById(contentId).style.display = 'block';
        }
    </script>
</head>

<body>
    <header class="header">
        <a th:href="@{/}" class="logo">ToSovka</a>
        <form th:action="@{/search}" method="get">
            <div class="search-bar">
                <input type="text" name="title" placeholder="Поиск...">
                <button type="submit" class="search-button">Найти</button>
            </div>
        </form>
        <nav class="navbar">
            <a th:href="@{/}">Главная</a>
            <a th:href="@{/search}">Найти Ивент</a>
            <a th:href="@{/create}">Создать Ивент</a>
            <a href="#">Мои Ивенты</a>
            <a class="btnLogin" th:if="${!isAuthenticated}" th:href="@{/login}">Логин</a>
            <a class="btnProfile" th:if="${isAuthenticated}" th:href="@{'/profile/' + ${username}}">Профиль</a>
        </nav>
    </header>

    <div class="profile-container">
        <div class="avatar"></div>
        <div class="nickname">JohnDoe</div>
        <div class="buttons">
            <button onclick="showContent('profile-info')">Профиль</button>
            <button onclick="showContent('visited-events')">Был</button>
        </div>
        <div class="content-wrapper">
            <list id="profile-info" class="content" th:each="event : ${events}">
                <div class="card">
                    <div class="date"
                        th:text="${#temporals.format(event.eventDate, 'dd MMMM', new java.util.Locale('ru'))}">
                    </div>
                    <img th:src="@{'/image/' + ${event.id}}">
                    <div class="type" th:text="${event.getEventType}"></div>
                    <div class="title"><a th:href="@{/event/{id}(id=${event.id})}" th:text="${event.title}"></a>
                    </div>
                    <div class="location" th:text="${event.location}"></div>
                    <div class="description" th:text="${event.description}"></div>
                </div>
            </list>

            <list id="visited-events" class="content" th:each="visits : ${visits}">
                <div class="card">
                    <div class="date"
                        th:text="${#temporals.format(visits.eventDate, 'dd MMMM', new java.util.Locale('ru'))}">
                    </div>
                    <img th:src="@{'/image/' + ${visits.id}}">
                    <div class="type" th:text="${visits.getEventType}"></div>
                    <div class="title"><a th:href="@{/event/{id}(id=${visits.id})}" th:text="${visits.title}"></a>
                    </div>
                    <div class="location" th:text="${visits.location}"></div>
                    <div class="description" th:text="${visits.description}"></div>
            </list>
        </div>
    </div>

    <footer class="footer">
        <div class="footer-block">
            <div class="row">
                <div class="column">
                    <h4>ToSovka</h4>
                    <a>Сайт для создания и поиска интересных мероприятий</a>
                </div>
                <div class="column">
                    <h4>Навигация</h4>
                    <ul>
                        <li><a href="#">Главная</a></li>
                        <li><a href="#">Найти Ивент</a></li>
                        <li><a href="#">Создать Ивент</a></li>
                    </ul>
                </div>
                <div class="column">
                    <h4>Контакты</h4>
                    <ul>
                        <li><a href="https://t.me/Num_Dominance">Telegram разработчика</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>