<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/main.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/profile.css'>

</head>

<body>
    <header class="header">
        <a th:href="@{/}" class="logo">ToSovka</a>
        <form th:action="@{/search}" method="get">
            <div class="search-bar">
                <input type="text" name="title" placeholder="Поиск...">
                <button type="submit" class="search-button">Найти</button>
            </div>
        </form>
        <nav class="navbar">
            <a th:href="@{/}">Главная</a>
            <a th:href="@{/search}">Найти Ивент</a>
            <a th:href="@{/create}">Создать Ивент</a>
            <a href="#">Мои Ивенты</a>
            <button class="btnLogin">Логин</button>
        </nav>
    </header>

    <div class="profile-container">
        <div class="avatar"></div>
        <div class="nickname">JohnDoe</div>
        <div class="buttons">
            <button onclick="showProfile()">Профиль</button>
            <button onclick="showEvents()">Был</button>
        </div>
        <div class="content" id="content">
            <!-- Content will be dynamically loaded here -->
        </div>
    </div>


    <footer class="footer">
        <div class="footer-block">
            <div class="row">
                <div class="column">
                    <h4>ToSovka</h4>
                    <a>Сайт для создания и поиска интересных мероприятий</a>
                </div>
                <div class="column">
                    <h4>Навигация</h4>
                    <ul>
                        <li><a href="#">Главная</a></li>
                        <li><a href="#">Найти Ивент</a></li>
                        <li><a href="#">Создать Ивент</a></li>
                    </ul>
                </div>
                <div class="column">
                    <h4>Контакты</h4>
                    <ul>
                        <li><a href="https://t.me/Num_Dominance">Telegram разработчика</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


    <script>
        function showProfile() {
            const content = document.getElementById('content');
            content.innerHTML = `
               <div class="content">
            <div class="card">
                <div class="date">15.10.2023</div>
                <img src="https://placehold.co/1280x800" alt="Мероприятие 1">
                <div class="type">Концерт</div>
                <!-- TODO: Ограничить у текста длину -->
                <div class="title"><a href="#">Название мероприятия 1 qweqwqwe qweqw awdwq qwea wadwadwa</a> </div>
                <div class="location">Ул.Пушкина </div>
                <!-- TODO: Ограничить у текста длину -->
                <div class="description">Короткое описание мероприятия 1.</div>
            </div>
        </div>
            `;
        }

        function showEvents() {
            const content = document.getElementById('content');
            content.innerHTML = `
                <div class="content">
            <div class="card">
                <div class="date">15.10.2023</div>
                <img src="https://placehold.co/1280x800" alt="Мероприятие 1">
                <div class="type">Концерт</div>
                <!-- TODO: Ограничить у текста длину -->
                <div class="title"><a href="#">Название мероприятия 1 qweqwqwe qweqw awdwq qwea wadwadwa</a> </div>
                <div class="location">Ул.Пушкина </div>
                <!-- TODO: Ограничить у текста длину -->
                <div class="description">Короткое описание мероприятия 1.</div>
            </div>
            <div class="card">
                <div class="date">20.10.2023</div>
                <img src="https://placehold.co/1280x800" alt="Мероприятие 2">
                <div class="type">Выставка</div>
                <div class="title"><a href="#">Название мероприятия 2 </a> </div>
                <div class="location">Ул.Пушкина </div>
                <div class="description">Лишь многие известные личности будут ограничены исключительно образом мышления!
                    Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого
                    факта: консультация с широким активом является качественно новой ступенью экономической</div>
            </div>
            <div class="card">
                <div class="date">25.10.2023</div>
                <img src="https://placehold.co/1280x800" alt="Мероприятие 3">
                <div class="type">Фестиваль</div>

                <div class="title"><a href="#">Название мероприятия 3 qweqwqwe qweqw awdwq2 qwea wadwadwa</a> </div>
                <div class="location">Ул.Пушкина </div>
                <div class="description">Лишь многие известные личности будут ограничены исключительно образом мышления!
                    Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого
                    факта: консультация с широким активом является качественно новой ступенью экономической</div>
            </div>
                        <div class="card">
                <div class="date">15.10.2023</div>
                <img src="https://placehold.co/1280x800" alt="Мероприятие 1">
                <div class="type">Концерт</div>
                <!-- TODO: Ограничить у текста длину -->
                <div class="title"><a href="#">Название мероприятия 1 qweqwqwe qweqw awdwq qwea wadwadwa</a> </div>
                <div class="location">Ул.Пушкина </div>
                <!-- TODO: Ограничить у текста длину -->
                <div class="description">Короткое описание мероприятия 1.</div>
            </div>
            <div class="card">
                <div class="date">20.10.2023</div>
                <img src="https://placehold.co/1280x800" alt="Мероприятие 2">
                <div class="type">Выставка</div>
                <div class="title"><a href="#">Название мероприятия 2 </a> </div>
                <div class="location">Ул.Пушкина </div>
                <div class="description">Лишь многие известные личности будут ограничены исключительно образом мышления!
                    Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого
                    факта: консультация с широким активом является качественно новой ступенью экономической</div>
            </div>
            <div class="card">
                <div class="date">25.10.2023</div>
                <img src="https://placehold.co/1280x800" alt="Мероприятие 3">
                <div class="type">Фестиваль</div>

                <div class="title"><a href="#">Название мероприятия 3 qweqwqwe qweqw awdwq2 qwea wadwadwa</a> </div>
                <div class="location">Ул.Пушкина </div>
                <div class="description">Лишь многие известные личности будут ограничены исключительно образом мышления!
                    Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого
                    факта: консультация с широким активом является качественно новой ступенью экономической</div>
            </div>
        </div>
            `;
        }

        // Show profile content by default
        showProfile();
    </script>
</body>

</html>